// Contains the data needed to run the application
var data = {
    // The Google Maps API Key
    apiKey: 'your-key-goes-here',

    // The points that will be plotted on the map
    points: [
        {lat: 51.500736, lng: -0.124625, title: 'London - United Kingdom'},
        // Other points go here
    ],
};
